/* Text Styles */
body {
  font-family: sans-serif;
}

header {
  background-color: white;

  border: 3px solid black;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

.image-caption {
  font-size: small;
}

/* Page Titles */
h4 {
  font-weight: normal;
  font-size: x-large;
  
  color: black;

  text-align: center;
}

/* Image Styles */
img {
  border: 2px solid black;
}

#logo-image {
  box-sizing: border-box;

  border: 0px;
  background-color: white;

  width: 400px;
  height: auto;
}

#logo-image:hover {
  background-color: white;
}


/* Link Style */
a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  background-color: yellow;
  color:black;
  text-decoration: none;
  font-weight: bold;
}


#logo-link {
  background-color: white;
}

/* Common Page Styles */
.section-title {
  margin-bottom: 10px;
}

/* Navigation */
.navigation-content {
  display: flex;
  flex-direction: column;

  text-align: center;

  padding-bottom: 40px;
}

.navigation-text {
  font-size: medium;
  font-weight: lighter;

  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  
  width: fit-content;
  height: fit-content;
}

/* Gallery Flex Box */
.gallery-content {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;

  width: 600px;
  height: auto;

  margin-left: auto;
  margin-right: auto;

  background-color: white;
}

.orig-cinn-section {
  margin-left: auto;
  margin-right: auto;
}

.gallery-description-txt {
  font-size: normal;
  text-decoration: underline;

  margin-top: auto;
  margin-bottom: auto;
}

.gallery-price-txt {
  font-size: normal;

  margin-top: 5px;
  margin-bottom: 40px;
}

/* Shopping Cart Flex Box: */
.shopping-cart-main-content {
  display:flex;
  flex-direction: column;

  box-sizing: border-box;

  width: 600px;
  height: auto;
  
  margin-left: auto;
  margin-right: auto;

  background-color: white;
}

.shopping-cart-items {
  border: 0px solid black;
  border-width: 0px 0px 3px 0px;
}

/* Original Cinnamon Box */
.cart-original-cinnamon {
  background-color: white;

  width: 50%;
  height: auto;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

#cart-original-cinnamon-image {
  width: 33.3%;
  
  margin: auto 33.3%;
}

.cart-original-text {
  text-align: center;
}

/* Double-Chocolate Box */
.cart-double-chocolate {
  background-color: white;

  width: 50%;
  height: auto;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

#cart-chocolate-image {
  width: 33.3%;
  
  margin: auto 33.3%;
}

.cart-chocolate-text {
  text-align: center;
}

/* Total and Checkout */
.cart-checkout {
  text-align: center;
  background-color:white;
}

#cart-button {
  width: 20%;
  
  padding-top: 2px;
  padding-bottom: 2px;

  margin: auto 40%;

  border: 2px solid black;
}

.remove-txt {
  font-size: xx-small;
  font-weight: bold;

  color: black;

  margin-top: 2px;
  margin-bottom: 10px;
}

.price-txt {
  font-size: large;
}

.description-txt {
  font-size: small;
  font-weight: normal;

  margin-top: auto;
  margin-bottom: auto;
}

