body {
    font-family: sans-serif;
  }

header {
  border: 3px solid black;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

img {
  border: 2px solid black;
}

#logo-image {
  border: 0px;
}

.image-caption {
  font-size: small;
}

#cart-button {
  border: 1px solid black;
}

/* Link Style */
a:hover {
  background-color: yellow;
  a>p {
    background-color: yellow;
  }
}

#logo-link {
  background-color: white;
}

p {
  background-color: yellow;
}

